In [1]:
# Strings
# variable_name = value
my_name = "Mwiks"
my_name

'Mwiks'

In [5]:
# Boolean
is_kenyan = True
is_somali = False
is_somali

False

In [12]:
# Integers
sum_of_one = 1+1
sum_of_one

2

In [7]:
# Floats
type(7.3)

float

In [13]:
type("Mwiks")

str

In [16]:
name_one = "Moringa"
name_two = "School"
school_name = name_one + " " + name_two
print(school_name)

Moringa School

In [18]:
sentence = "Hello I am studying Python"
new_sentence = sentence.replace("Python","JavaScript")
new_sentence

'Hello I am studying JavaScript'

In [20]:
new_sentence.endswith("Python")

False

In [24]:
new_sentence.startswith("Hi")

False

In [25]:
# Comparison Operators
50 >= 40

True

In [28]:
# Arithmetic Operators
# +, *, -, /, %,**, //

2 ** 3

8

In [31]:
4 // 5

0

In [33]:
# Control Flow 
# If else statement
students_marks = 42
if students_marks > 50:
    print("Pass")
else:
    print("Fail")

Fail

In [35]:
x = -2
if x > 0:
    print("Number is positive")
else:
    print("Number is negative")

Number is negative

In [40]:
greeting = 'Frank '
if greeting:
    greeting += 'Hello'
else:
    greeting += 'Goodbye'
greeting

'Frank Hello'

In [38]:
my_age = 16
my_age += 1
my_age

17

In [53]:
# For loop
names = ["Alex","Julliet","Jeniffer"]
for name in names:
    print(name)

Alex
Julliet
Jeniffer

In [44]:
for i in range( 6):
    print(i)

0
1
2
3
4
5

In [58]:
for x in names:
    x += "!"
    print(x)
#     print((name) + "!")

Alex!
Julliet!
Jeniffer!

In [59]:
x

'Jeniffer!'

In [65]:
today_is = 9
# day_of_the_week = "Monday"
if today_is == 1:
    day_of_the_week = "Sunday"
elif today_is == 2:
    day_of_the_week = "Monday"
elif today_is == 3:
    day_of_the_week = "Tuesday"
elif today_is == 4:
    day_of_the_week = "Wednesday"
elif today_is == 5:
    day_of_the_week = "Thursday"
elif today_is == 6:
    day_of_the_week = "Friday"
elif today_is == 7:
    day_of_the_week = "Saturday"
else:
    day_of_the_week = "Invalid day!"
print(day_of_the_week)

Invalid day!

In [1]:
names = ["Ivy","Ian","Eve"]
print(names)

['Ivy', 'Ian', 'Eve']

In [4]:
names[1]

'Ian'

In [5]:
names[]

'Eve'